<template>
  <main class="container">
    <div>
    <Header/>
    <Sidebar/>
    <div class="container">
      <h1>Clientes</h1>
      <button class="btn btn-danger" v-on:click="nuevo()">Nuevo Cliente</button>
      <br><br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">DNI</th>
            <th scope="col">NOMBRES</th>
            <th scope="col">DIRECCION</th>
            <th scope="col">REFERENCIA</th>
            <th scope="col">TELEFONO CONTACTO</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cliente in Listacliente" :key="cliente.c_dni" v-on:click="editar(cliente.c_dni)">
            <td>{{cliente.c_dni}}</td>
            <td>{{cliente.c_nombres}}</td>
            <td>{{cliente.c_direccion}}</td>
            <td>{{cliente.c_referencia}}</td>
            <td>{{cliente.c_telefono_contacto}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <Footer/>
  </div>
   </main> 
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue';
export default {
  name:"Cliente",
  data(){
    return{
      Listacliente:null
    }
  },
  components:{
    Sidebar,
    Header,
    Footer
  },
  methods:{
    editar(dni){
      this.$router.push('/editar/' + dni);
    },
    nuevo(){
      this.$router.push('/nuevo');
    },
  },
  mounted:function(){
    let direccion = "https://galaxiaweb.app/gigante/api/1/clientes";
    axios.get(direccion).then( data =>{
      this.Listacliente = data.data.cliente;
    })
  }
}
</script>

<style lang="stylus" soped>

</style>