<template>
  <div class="dashboard">
      <Header/>
      <Sidebar/>
<div>
  <b-card
    title="Pedidos"
    img-src="https://picsum.photos/600/300/?image=25"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
    <b-card-text>
      Some quick example text to build on the card title and make up the bulk of the card's content.
    </b-card-text>

    <b-button href="#" variant="primary">Go somewhere</b-button>
  </b-card>
</div>

      <Footer/>            
      <router-view/>
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue'
export default {
  
  name:"Dashboard",
  data(){
    return{
      Listaclientes:null,
      pagina:1
    }
  },
  components:{
    Sidebar,
    Footer,
    Header
  },
  mounted:function(){
    let direccion = "" + this.pagina;
    axios.get(direccion).then( data => {
      this.Listaclientes = data.data;
    })
  }
}
</script>

<style scoped>

</style>