<template>
    <main class="container">
        <div>
          <Header />
          <Sidebar/>
            <div class="container">
                <form action="" class="form-center">
                    <div class="form-group">
                        <label for="">DNI</label>
                        <input type="number" class="form-control" id="dni" name="dni" v-model="form.c_dni">
                    </div>
                    <div class="form-group">
                        <label for="">NOMBRES</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" v-model="form.c_nombres">
                    </div>
                    <div class="form-group">
                        <label for="">DIRECCION</label>
                        <input type="text" class="form-control" id="dirrecion" name="dirrecion" v-model="form.c_direccion">
                    </div>
                    <div class="form-group">
                        <label for="">REFERENCIA</label>
                        <input type="text" class="form-control" id="referencia" name="referencia" v-model="form.c_referencia">
                    </div>
                    <div class="form-group">
                        <label for="">TELEFONO CONTACTO</label>
                        <input type="number" class="form-control" id="telefonoContacto" name="telefonoContacto" v-model="form.c_telefono_contacto">
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" v-on:click="editar()" >Editar</button>
                      <button type="button" class="btn btn-danger margen" v-on:click="eliminar()" >Eliminar</button>
                      <button type="button" class="btn btn-dark margen" v-on:click="salir()"  >Salir</button>
                    </div> 
                </form>
            </div>

        </div>
    </main>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
//import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue';
export default {
    name:"Editar",
    components:{
    Sidebar,
    Header,
    //Footer
  },
  data:function(){
      return {
          form:{
            "clienteDni": "",
            "c_dni" : "",
            "c_nombres":"",
            "c_direccion":"",
            "c_referencia":"",
            "c_telefono_contacto": ""
          }
      }
  },
  methods:{
      editar(){
          axios.put("https://galaxiaweb.app/gigante/api/1/clientes/", this.form)
          .then( data => {
              console.log(data);
          })
      },
      salir(){
        this.$router.push("/cliente");
      },
      eliminar(){
          var enviar = {
              "clienteDni" : this.form.clienteDni
          };
          axios.delete("https://galaxiaweb.app/gigante/api/1/clientes", { headers : enviar})
          .then( datos => {
              console.log(datos);
              this.$router.push("/cliente");
          });
      }
  },
  mounted:function(){
      this.form.clienteDni = this.$route.params.dni;
      axios.get("https://galaxiaweb.app/gigante/api/1/clientes/"+ this.form.clienteDni)
      .then ( datos => {
          this.form.c_dni = datos.data.cliente.c_dni
          this.form.c_nombres = datos.data.cliente.c_nombres
          this.form.c_direccion = datos.data.cliente.c_direccion
          this.form.c_referencia = datos.data.cliente.c_referencia
          this.form.c_telefono_contacto = datos.data.cliente.c_telefono_contacto
          console.log(this.form)
      })
  }
}
</script>

<style scoped>

</style>