<template>
    <main>
    <div class="container">
        <Header />
        <Sidebar/>
        <div class="container">
            <form action="" class="form-center">
                    <div class="form-group">
                        <label for="">DNI</label>
                        <input type="number" class="form-control" id="dni" name="dni" v-model="form.c_dni">
                    </div>
                    <div class="form-group">
                        <label for="">NOMBRES</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" v-model="form.c_nombres">
                    </div>
                    <div class="form-group">
                        <label for="">DIRECCION</label>
                        <input type="text" class="form-control" id="dirrecion" name="dirrecion" v-model="form.c_direccion">
                    </div>
                    <div class="form-group">
                        <label for="">REFERENCIA</label>
                        <input type="text" class="form-control" id="referencia" name="referencia" v-model="form.c_referencia">
                    </div>
                    <div class="form-group">
                        <label for="">TELEFONO CONTACTO</label>
                        <input type="number" class="form-control" id="telefonoContacto" name="telefonoContacto" v-model="form.c_telefono_contacto">
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary" v-on:click="guardar()" >Guardar</button>
                      <button type="button" class="btn btn-dark margen" v-on:click="salir()"  >Salir</button>
                    </div> 
                </form>
        </div>
        
    </div>
    </main>
</template>
<script>
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
//import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue';
export default {
    name: "Nuevo",
    data:function(){
        return {
            form:{
                "c_dni" : "",
                "c_nombres":"",
                "c_direccion":"",
                "c_referencia":"",
                "c_telefono_contacto": ""
            }
        }
    },
    components: {
        Sidebar,
        Header,
        //Footer
    },
    methods:{
        guardar(){
            axios.post("https://galaxiaweb.app/gigante/api/1/clientes", this.form)
            .then(data =>{
                console.log(data);
                this.makeToast("Hecho", "Cliente creado", "danger")
            })
        },
        salir(){
            this.$router.push("/cliente");
        },
        makeToast(titulo, texto, tipo) {
        this.toastCount++
        this.$bvToast.toast(texto, {
          title: titulo,
          variant: tipo,
          autoHideDelay: 5000,
          appendToast: true
        })
      }
    }
}
</script>