<template>
  <div class="profile">
      <Header/>
      <Sidebar/>
  <div>
    <b-button variant="outline-secondary">Nuevo</b-button>
    <b-button variant="outline-success">Actualizar</b-button>
  </div><br><br>  
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">DNI</th>
            <th scope="col">Telefono</th>
            <th scope="col">Dirección</th>
            <th scope="col">Rol</th>
            <th scope="col">Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="cliente in Listaclientes" :key="cliente.clienteId">
            <th scope="row">{{ cliente.clienteId }}</th>
            <td>{{cliente.Nombre}}</td>
            <td>{{cliente.DNI}}</td>
            <td>{{cliente.Telefono}}</td>
            <td>{{cliente.Direccion}}</td>
          </tr>  
        </tbody>
      </table>

    </div>      
      <Footer/>
      <router-view/>     
  </div>
</template>

<script>
import Sidebar from '@/components/Sidebar.vue';
import axios from 'axios';
import Footer from '../components/Footer.vue';
import Header from '../components/Header.vue'
export default {
  data(){
    return{
      Listaclientes:null,
      pagina:1
    }
  },  
  components:{
    Sidebar,
    Footer,
    Header
  },
  mounted:function(){
    let direccion = "" + this.pagina;
    axios.get(direccion).then( data => {
      this.Listaclientes = data.data;
    })
  }    
}
</script>

<style scoped>

</style>