<template>
  <div class="settings">
    <p>Settings</p>
  </div>
</template>

<script>
//import Sidebar from '@/components/Sidebar.vue';
/* import axios from 'axios'; */
//import Footer from '../components/Footer.vue';
//import Header from '../components/Header.vue'
export default {
    components:{
    //Sidebar,
    //Footer,
    //Header
  }  
}
</script>

<style scoped>

</style>