<template>
  
  <div>
    <footer class="container"> 

      <div class="footer-copyright text-center py-3">© 2021 Copyright:
        <a href="http://www.galaxiasoftware.com/"> GalaxiaSoftware</a>
      </div>

    </footer>
  </div>

</template>

<style scoped>
footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #cf0101;
    color: blanchedalmond;
}
</style>