<template>
  <div>
    <b-sidebar id="sidebar-menu" aria-labelledby="sidebar-menu-title" 
    no-header 
    shadow 
    bg-variant="light" 
    text-variant="dark" 
    backdrop 
    backdrop-variant="dark">
      <template #default="{ hide }">
        <div class="p-3">
          <div class="d-flex align-items-center flex-column">
            <b-avatar variant="primary" text="PS" class="mb-3 mt-3" size="5rem"></b-avatar>
            <h4 id="sidebar-no-header-title"></h4>
            <div class="divider-menu"></div>
          </div>
          <nav class="mb-3">
            <b-nav vertical>
              <b-nav-item active @click="hide"><b-icon icon="bar-chart-fill"></b-icon>Inicio</b-nav-item>
              <b-nav-item href="#link-1" @click="hide"><b-icon icon="truck"></b-icon>Pedidos</b-nav-item>
              <b-nav-item href="#link-2" @click="hide"><b-icon icon="truck"></b-icon>Delivery</b-nav-item>
              <b-nav-item href="" @click="hide"><b-icon icon="person"></b-icon>Usuarios</b-nav-item>
               <b-nav-item :to="{name: 'Cliente'}" @click="hide"><b-icon icon="person"></b-icon>Clientes</b-nav-item>
            </b-nav>
          </nav>
          <b-button variant="primary" block @click="hide">Salir</b-button>
        </div>
      </template>
    </b-sidebar>
  </div>
</template>
<script>
export default {

}
</script>

<style>
.nav-item > .nav-link{
  color: gray;
}
.nav-item > .nav-link:hover{
  color: black;
}
.divider-menu{
  border: 1px solid gray;
  width: 100%;
}
</style>